fabric.config.merge=false

# Root logger
log4j.rootLogger=INFO, out
log4j.throwableRenderer=org.apache.log4j.OsgiThrowableRenderer

# File appender
log4j.appender.out=org.apache.log4j.RollingFileAppender
log4j.appender.out.layout=org.apache.log4j.PatternLayout
log4j.appender.out.layout.ConversionPattern=%d{ISO8601} | %p | %t | %c | %X | %m%n
log4j.appender.out.file={{ jboss_fuse_log_path }}/${karaf.name}.log
log4j.appender.out.append=true
log4j.appender.out.maxFileSize=25MB
log4j.appender.out.maxBackupIndex=10

# To avoid flooding the log when using DEBUG level on an ssh connection and doing log:tail
log4j.logger.org.apache.sshd.server.channel.ChannelSession = INFO

#tone down sshd Nio2Session logging
log4j.logger.org.apache.sshd.common.io.nio2.Nio2Session=WARN

# tone down the ZooKeeper logging
log4j.logger.org.apache.zookeeper.ClientCnxn = ERROR
log4j.logger.org.apache.zookeeper.ClientCnxn$SendThread = ERROR
log4j.logger.org.apache.zookeeper.server.NIOServerCnxnFactory = ERROR
log4j.logger.org.apache.zookeeper.server.NIOServerCnxn  = ERROR
log4j.logger.org.apache.zookeeper.server.ZooKeeperServer = ERROR
log4j.logger.org.apache.zookeeper.server.PrepRequestProcessor = WARN
log4j.logger.org.apache.zookeeper.client.ZooKeeperSaslClient = WARN

# tone down httpclient logging
log4j.logger.httpclient.wire = WARN
log4j.logger.org.apache.commons.httpclient = WARN

# tone down logging
log4j.logger.org.apache.aries.spifly.dynamic.bundle = WARN
