<?xml version="1.0" encoding="UTF-8" ?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <splunk-client id="foo" xmlns="urn:pronoia.com/schema/blueprint/splunk"
                   host="localhost"
                   port="8088"
                   authorization-token="{{ splunk_httpec_token }}"
                   validate-certificates="false"
                   use-ssl="false"
    />

</blueprint>
