<?xml version="1.0" encoding="UTF-8" ?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <!--
        This isn't needed for JBoss Fuse 6.3
        <type-converters>
            <bean id="event-builder-converter" class="com.pronoia.splunk.aries.blueprint.converter.EventBuilderConverter" />
        </type-converters>
     -->

    <splunk-jmx-attribute-change-monitor id="activemq-broker-statistics-monitor" xmlns="urn:pronoia.com/schema/blueprint/splunk"
                                         granularity-period="15" max-suppressed-duplicate-events="20">
        <observed-object>org.apache.activemq:type=Broker,brokerName=*</observed-object>
        <splunk-event index="{{ splunk_jboss_fuse_jmx_index }}" sourcetype="activemq-broker-statistics" >
            <system-property property="karaf.name" field="container" />
        </splunk-event>
    </splunk-jmx-attribute-change-monitor>

    <splunk-jmx-attribute-change-monitor id="activemq-queue-statistics-monitor" xmlns="urn:pronoia.com/schema/blueprint/splunk"
                                         granularity-period="15" max-suppressed-duplicate-events="20">
        <observed-object>org.apache.activemq:type=Broker,brokerName=*,destinationType=Queue,destinationName=*</observed-object>
        <observed-attributes>
            <attribute>BlockedSends</attribute>		
            <attribute>ConsumerCount</attribute>		
            <attribute>CursorPercentUsage</attribute>		
            <attribute>DequeueCount</attribute>		
            <attribute>DispatchCount</attribute>		
            <attribute>EnqueueCount</attribute>		
            <attribute>ExpiredCount</attribute>		
            <attribute>ForwardCount</attribute>		
            <attribute>InFlightCount</attribute>		
            <attribute>MaxAuditDepth</attribute>		
            <attribute>MaxEnqueueTime</attribute>		
            <attribute>MaxMessageSize</attribute>		
            <attribute>MaxPageSize</attribute>		
            <attribute>MinEnqueueTime</attribute>		
            <attribute>MinMessageSize</attribute>		
            <attribute>Name</attribute>		
            <attribute>Paused</attribute>		
            <attribute>QueueSize</attribute>		
        </observed-attributes>
        <collected-attributes>
            <attribute>AverageBlockedTime</attribute>		
            <attribute>AverageEnqueueTime</attribute>		
            <attribute>AverageMessageSize</attribute>		
            <attribute>ConsumerCount</attribute>		
            <attribute>InFlightCount</attribute>		
            <attribute>MemoryPercentUsage</attribute>		
            <attribute>Name</attribute>		
            <attribute>Paused</attribute>		
            <attribute>ProducerCount</attribute>		
            <attribute>Subscriptions</attribute>
            <attribute>TotalBlockedTime</attribute>		
        </collected-attributes>
        <splunk-event index="{{ splunk_jboss_fuse_jmx_index }}" sourcetype="activemq-queue-statistics" >
            <system-property property="karaf.name" field="container" />
        </splunk-event>
    </splunk-jmx-attribute-change-monitor>

</blueprint>