#
# JBoss Fuse App
#

[install]
is_configured = 0

[ui]
is_visible = 1
label = JBoss Fuse

[launcher]
author = Quinn Stevenson
description = JBoss Fuse App for local development environments
version = 1.0