[default]
host = {{ ansible_hostname }}

[http://{{ jboss_fuse_id }}]
disabled = true
token = {{ splunk_httpec_token }}
indexes = {{ splunk_jboss_fuse_logs_index }},{{ splunk_jboss_fuse_jmx_index }},{{ splunk_jboss_fuse_jms_index }}

[monitor://{{ jboss_fuse_log_path }}]
disabled = true
index = {{ splunk_jboss_fuse_logs_index }}
sourcetype = {{ splunk_jboss_fuse_logs_sourcetype }}
recursive = false
whitelist = \.log(\.\d+)?$

