[karaf-jboss-fuse]
TRANSFORMS-source-container = extract-source-container-field
REPORT-karaf-log-fields = extract-karaf-log-fields, extract-karaf-mdc-fields, extract-karaf-mdc-mvfields
LINE_BREAKER = (\n+)\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2},\d{3} \|
SHOULD_LINEMERGE = false
