[extract-source-container-field]
SOURCE_KEY = MetaData:Source
REGEX = ^source::{{ jboss_fuse_log_path }}\/(([^/]+)\.log(\.\d+)?)$
FORMAT = sourcefile::$1 container::$2
WRITE_META = true

[strip-source-file-path]
DEST_KEY = MetaData:Source
SOURCE_KEY = MetaData:Source
REGEX = {{ jboss_fuse_log_path }}/(.+)
FORMAT = source::$1
WRITE_META = true

[extract-karaf-log-fields]
DELIMS = "|"
FIELDS = "timestamp", "priority", "thread", "category", "MDC", message

[extract-karaf-mdc-fields]
SOURCE_KEY = MDC
REGEX  = {([^{,]+)\,([^}]+)}
FORMAT = $1::$2

[extract-karaf-mdc-mvfields]
SOURCE_KEY = MDC
MV_ADD = true
REGEX  = {([^{,]+)\,([^}]+)}
FORMAT = mdc_key::$1  mdc_value::$2